name: CI DEvmIb

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      -
        name: Track Changes
        id: changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        with:
          filters: |
            dockerfile:
              - 'Dockerfile.devmib'
      -
        name: Get telerising-api Version
        id: version
        run: |
          version=$(sed -ne "s/.*TELERISING_API_VERSION=\"\(.*\)\"/\1/p" Dockerfile.devmib)
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "tag=v$version" >> $GITHUB_OUTPUT
      -
        name: Bump version and push tag
        id: tag_release
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8 # 1.75.0
        if: github.ref == 'refs/heads/main' && steps.changes.outputs.dockerfile == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_TAG: ${{ steps.version.outputs.tag }}
      -
        name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: docker.io
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      -
        name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          file: ./Dockerfile.devmib
          push: ${{ github.ref == 'refs/heads/main' && steps.changes.outputs.dockerfile == 'true' }}
          tags: |
            docker.io/myrck/telerising-api:latest-devmib
            docker.io/myrck/telerising-api:${{ steps.version.outputs.version }}
            ghcr.io/myrck/telerising-api:latest-devmib
            ghcr.io/myrck/telerising-api:${{ steps.version.outputs.version }}
